﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h2>LOGIN</h2>
        @using (Html.BeginForm("Login1212427", "auth", FormMethod.Post))
        {
            <label>Username: </label>
            @Html.TextBox("username") <br />
            <label>Password: </label>
            @Html.TextBox("password") <br />
            <input type="submit" value="Login" />
        }
    </div>
</body>
</html>
