﻿@model SessionMVC1212427.Models.user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Logout","Logout1212427", "auth")
    </div>
    <div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Mssv)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Hoten)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(Model => Model.Mssv)
                </td>
                <td>
                    @Html.DisplayFor(Model => Model.Hoten)
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
