﻿@model IEnumerable<SessionMVC1212427.Models.user>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Logout", "Logout1212427", "auth")
    </div>
    <div>
        <table>
            <caption>Group C</caption>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Mssv)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Mssv,"detail1212427", new { id = item.Mssv})
                    </td>
                </tr>
            }

        </table>
    </div>
</body>
</html>
