﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @if (System.Web.HttpContext.Current.Session["account"] == null)
        {
            @Html.ActionLink("Login","Index1212427","auth")
        }
        else
        {
            @Html.ActionLink("Logout", "Logout1212427", "auth")
        }
        @Html.ActionLink("users","Index1212427","users")
    </div>
</body>
</html>
